<h1>Create/Edit Contact</h1>

<form method="post">

    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{contact.first_name}}">
    </div>
    <div class=" form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{contact.last_name}}">
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" value="{{contact.email}}">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>