<h1>Create/Edit Contact</h1>

<form method="post">
    <input type="text" name="first_name" id="firstname">
    <label for="firstname">First Name</label>
    <br>
    <input type="text" name="last_name" id="lastname">
    <label for="lastname">Last Name</label>
    <br>
    <input type="text" name="email" id="email">
    <label for="email">Email Address</label>
    <br>
    <input type="submit" value="Save" />
</form>